
@import '0-plugins/plugins-dir'
@import '1-base/base-dir'
@import '2-modules/modules-dir'
@import '3-layouts/layouts-dir'

*, *:before, *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
